$main-bg: #efefef;
$main-white: #fff;
$second-bg: #5eb4c1;
$header-bg: #353534;

$third-bg: #333;
$hover-btn: #e03550;

$txt-white: #fff;
$txt-black: #000;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$header-height: 140px;
